/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/* untuk index.html */

.img-act-1 {
  width: 60%;
}
.img-act-2 {
  width: 50%;
}
.img-act-3 {
  width: 40%;
}

/* untuk login page */
.container-login {
  margin-top: 50px;
}

.img-login {
  width: 80%;
  height: 80%;
  margin-top: 30px;
}

/* untuk register.html */
.container-register {
  width: 40%;
}